{% extends "base.html" %}
{% load extras %}
{% block content %}
<style>
.shift-td {
  background-color: #e3f2fd !important;
}
</style>
<div class="container mt-4">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show text-center mx-auto w-75" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-center align-items-center mb-3">
        <a href="?month={{ prev_month_str }}" class="btn btn-sm btn-outline-secondary me-3">&laquo;</a>
        <h3 class="m-0">{{ current_month.year }}年{{ current_month.month }}月</h3>
        <a href="?month={{ next_month_str }}" class="btn btn-sm btn-outline-secondary me-3">&raquo;</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered text-center align-middle">
            <thead class="table-light">
                <tr>
                    <th></th>
                    {% for day in calendar_days %}
                        <th>{{ day.day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    {% for day in calendar_days %}
                    <td class="shift-td">
                        {% with pid=shift_dict|get_item:user.id|get_item:day.day %}
                             {% if pid %}
                                {% for pattern in patterns %}
                                    {% if pattern.id == pid %}
                                        {{ pattern.pattern_name }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <span class="text-secondary">休</span>
                            {% endif %}
                     {% endwith %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

   <div class="mt-5">
        <table class="table table-bordered w-50">
          <tbody>
            {% for pattern in patterns %}
              <tr>
                <td>{{ pattern.pattern_name }}</td>
                <td>{{ pattern.start_time|time:"H:i" }} ～ {{ pattern.end_time|time:"H:i" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock  %}