{% extends "base.html" %}
{% load add_class %}
{% block content %}
<div class="container mt-5">
    <h5 class="text-secondary ms-1 mb-4">パスワード変更</h5>
    <div class="d-flex justify-content-center">
        <div style="width: 100%; max-width: 500px; padding: 30px; border-radius: 10px;">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success text-center" role="alert">
                        {{ message }}
                    </div>
                    <script>
                        setTimeout(function () {
                            window.location.href= "{% url 'shifts:home' %}";
                        }, 2000);
                    </script>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="mb-3 row align-items-center">
                    <label for="id_old_password" class="col-sm-5 col-form-label text-end">元のパスワード：</label>
                    <div class="col-sm-7">
                        {{ form.old_password|add_class:"form-control" }}
                        {% for error in form.old_password.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label for="id_new_password1" class="col-sm-5 col-form-label text-end">新しいパスワード：</label>
                    <div class="col-sm-7 ">
                        {{ form.new_password1|add_class:"form-control" }}
                        {% for error in form.new_password1.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label for="id_new_password2" class="col-sm-5 col-form-label text-end">新しいパスワード再入力：</label>
                    <div class="col-sm-7 ">
                        {{ form.new_password2|add_class:"form-control" }}
                        {% for error in form.new_password2.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary px-5">変更</button>
                </div>
            </form> 

        </div>
    </div>
</div>
{% endblock %}