{% extends "base.html" %} 
{% load add_class %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div style="width: 100%; max-width: 500px; padding: 30px; border-radius: 10px;">
            <form method="POST">
                {% csrf_token %}
                {{ login_form.non_field_errors }}

                <div class="mb-3 row">
                    <label for="id_email" class="col-sm-4 col-form-label text-end">メールアドレス：</label>
                    <div class="col-sm-8">
                        {{ login_form.email|add_class:"form-control" }}
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="id_password" class="col-sm-4 col-form-label text-end">パスワード：</label>
                    <div class="col-sm-8">
                        {{ login_form.password|add_class:"form-control" }}
                    </div>
                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary px-5">ログイン</button>
                </div>
            </form>

            <div class="text-center mt-3">
                <a href="{% url 'accounts:signup' %}">アカウント登録</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

