{% extends "base.html" %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div style="width: 100%; max-width: 500px;">
        <h2 class="text-center mb-4">ユーザー管理</h2>
        
        <table class='table table-bordered text-center'>
            <thead class="table-light">
                <tr>
                    <th>ユーザー名</th>
                    <th>メールアドレス</th>
                    <th>権限</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
                {% for user in team_users %}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role.role_name}}</td>
                    <td>
                        <form method="POST" action="{% url 'accounts:user_delete' user.id %}">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger">削除</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-start mt-3"> 
            <a href="{% url 'accounts:user_invite' %}" class="btn btn-primary">
            新規ユーザーを追加
            </a>
        </div>
    </div>
</div>
{% endblock %}