{% extends "base.html" %}

{% block extra_css %}
<style>
.gray-btn {
    background-color: #dee2e6;
}
.gray-btn:hover,
.gray-btn:focus {
    background-color: #adb5bd;; 
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); 
    color: #000;
    border: 1px solid #bbb;
}
.return-link:hover {
    text-decoration: underline !important;
}
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h5 class="text-center  text-secondary ms-1 mb-4">ユーザー招待</h5>

    <div class="d-flex justify-content-center">
        <div style="width: 100%; max-width: 500px;">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center" role="alert">
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            
            <form method="POST" class="text-center mt-3">
                {% csrf_token %}
                <button type="submit" class="btn gray-btn text-dark btn-lg px-5 mb-4">ユーザー招待URLを作成する</button>
            </form>

            {% if invite_url %}
                <input type="text" class="form-control text-center my-3" value="{{ invite_url }}" readonly>
            {% endif %}

            <p class="text-center">※このリンクを招待したいユーザーに送ってください</p>
            <p class="text-center">※リンクは1度利用されると無効になります</p>

            <div class="text-center mt-3">
                <a href="{% url 'accounts:user_manage' %}" class="text-primary text-decoration-none return-link">ユーザー管理画面へ戻る</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
