{% extends "base.html" %}

{% block extra_css %}
<style>
.gray-btn {
    background-color: #dee2e6;
}
.gray-btn:hover,
.gray-btn:focus,
.gray-btn:active {
    background-color: #dee2e6 !important;
    color: #000 !important;
    border: 1px solid #ccc;
    box-shadow: none;
}
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h5 class="text-secondary ms-1 mb-4">ユーザー管理</h5>

    <div class="d-flex justify-content-center">
        <div style="width: 100%; max-width: 500px;">
        
            <table class='table table-bordered text-center'>
                <thead class="table-light">
                    <tr>
                        <th>ユーザー名</th>
                        <th>メールアドレス</th>
                        <th>権限</th>
                        <th>削除</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in team_users %}
                    <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                        <form method="POST" action="{% url 'accounts:role_update' user.id %}">
                            {% csrf_token %}
                                <select name="role_id" class="form-select form-select-sm d-inline w-auto" onchange="this.form.submit()">
                                    {% for role in roles  %}
                                        <option value="{{ role.id }}" {% if user.role.id == role.id %}selected{% endif %}>
                                        {{ role.role_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="{% url 'accounts:user_delete' user.id %}">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-danger">削除</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-start mt-3"> 
                <a href="{% url 'accounts:user_invite' %}" class="btn gray-btn text-dark">
                新規ユーザーを追加
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}